@charset "utf-8";
/* 全体 */
body {
  margin: 0;
  padding: 0;
}
.container {
  font-family: 'Homemade Apple', cursive;
  display: none;
  position: relative;
  z-index:1;
  overflow: hidden;
}

.maincontents {
  margin: 0 auto;
  text-align: center;
}

/* header */
.logoarea {
  display: flex;
}

.logoimg {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.logotext {
  margin: auto 0;
  color: rgb(138, 117, 82);
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
}

.menubar_icon {
  width: 20px;
  height: auto;
  align-items: center;
}

.checkbox_hidden {
  display: none;
}

.header_content {
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: center;
  /* flexの中で左右両端に */
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  background-color: white;
  filter: grayscale(20%);
  box-sizing: border-box;
}

.header-menu {
  display: block;
}

/* top */
.topcontents{
  width:100%;
  height: 1100px;
  position: relative;
}

.topimg_area {
  width: 100%;
}

.top_img {
  width: 100%;
  height: 1100px;
  object-fit: cover;
  opacity: 0.2;
}

.title_corner {
  position: absolute;
  text-align: left;
  background-color: none;
  padding: 10px;
  opacity: 0.7;
}

.title.top{
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*リンクの形状*/
  display:inline-block;
  margin:0 10px;
  text-decoration: none;
  color: rgb(87, 136, 143);
  outline: none;
}

.title.top:hover {
  cursor: none;
}

/*波形の設定*/
.title.top:hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left:30%;
  top:0;
  /*波形の形状*/
  border: 1px solid rgb(138, 117, 82);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*はじめは不透明*/
  opacity:1;
  /*アニメーションの設定*/
  animation:1.5s circleanime2 forwards;
}

/*波形が広がるアニメーション*/
@keyframes circleanime2{
0%{
  transform: scale(0);
}
100%{
  transform:scale(2.5);
  opacity: 0;
}
}

.title {
  /* fadeInのために最初は非表示 */
  display: none;
  margin: 0;
  font-size: 36px;
  color: rgb(87, 136, 143);
}

.sub_title {
  /* fadeInのために最初は非表示 */
  font-family: 'Montserrat', sans-serif;
  display: none;
  margin: unset;
  color: rgb(138, 117, 82);
}

.monami_img {
  width: 50%;
}

/* スクロールダウンアイコン */
.scroll_icon {
  display: none;
  position: absolute;
  top: 650px;
  left: 50%;
  translate: -50%;
}

/*Scrollテキストの描写*/
.scroll_icon span{
  /*描画位置*/
position: absolute;
left: 10px;
bottom: 10px;
  /*テキストの形状*/
color: rgb(87, 136, 143);
font-size: 0.6rem;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scroll_icon:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -3px;
  /*丸の形状*/
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(87, 136, 143);
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation:
  circlemove 1.8s ease-in-out infinite,
  cirlemovehide 1.8s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
  0%{bottom: 45px;}
 100%{bottom: -5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
   0%{opacity:0}
  50%{opacity:1;}
 80%{opacity:0.9;}
100%{opacity:0;}
}

/* 線の描写 */
.scroll_icon:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
    /*線の形状*/
  width: 2px;
  height: 45px;
  background:rgb(87, 136, 143);
}

/* TOPへ戻るボタン */
.page_top {
  /* 常に表示 */
  position: fixed;
  bottom: 80px;
  z-index: 80;
  opacity: 0.8;
}

.page_topLink {
  background-color: rgb(188, 123, 144);
  color: #fff;
  filter: grayscale(30%);
  text-align: center;
  text-decoration: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 12px;
}

.page_topLink:hover {
  background-color: rgb(87, 136, 143);
  text-decoration: none;
}

/* contentエリア全体 */
.contents {
  display: none;
  padding: 120px 10px;
  opacity: 0.9;
}

.content {
  text-align: center;
}

.content_title {
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;
  color: rgb(138, 117, 82);
}

.sub_contenttitle {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(138, 117, 82);
}

.sub_contenttitle.works {
  border-bottom: 0.7px solid rgb(138, 117, 82);
  width: 40px;
  margin: 0 auto;
}

.content_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: rgb(138, 117, 82);
  max-width: 800px;
  margin: 0 auto;
}

/* gallery */
.gallery {
  padding: 0;
}

.galleryimg {
  margin: 30px 10px;
  width: 90%;
  list-style: none;
}

.gallery_img {
  width: 100%;
  opacity: 0.9;
}

.insta_area {
  margin-top: 30px;
}

.instabtn_area {
  margin-top: 10px;
}

.instagram_btn {
  border: none;
  background: none;
}

.formjump_area {
  margin-bottom: 30px;
}

.formjump_btn {
  border: none;
  padding: 5px 8px;
  background-color: rgb(138, 117, 82);
}

.formjump_btn:hover {
  opacity: 0.5;
}

.formjump_link {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

.instalogo {
  width: 30px;
  height: auto;
  opacity: 0.8;
}

/* info */
.content_text.infocontent {
  margin-top: 30px;
}

.info_list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  color: rgb(138, 117, 82);
  font-size: 13px;
  border-top: 1px dotted rgb(56, 56, 56);
}

.info_list:last-child {
  border-bottom: 1px dotted rgb(56, 56, 56);
}

.info {
  font-family: 'Montserrat', sans-serif;
}

/* form */
.form_contents{
  margin: 0 auto;
  font-size: 14px;
  color: rgb(138, 117, 82);
}

.form_content {
  margin-top: 20px;
}

.form_content:first-child {
  margin-top: 50px;
}

.form_btn {
  background-color: rgb(138, 117, 82);
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.form_btn.back {
  background-color: rgb(138, 117, 82);
}

.form_contents input[type="text"] {
  background-color: white;
  border: 1px dotted rgb(56, 56, 56);
  color: rgb(138, 117, 82);
}

.form_contents input[type="email"] {
  background-color: white;
  width: 250px;
  border: 1px dotted rgb(56, 56, 56);
  color: rgb(138, 117, 82);
}

textarea {
  padding: 5px;
  resize: none;
  background-color: white;
  border: 1px dotted rgb(56, 56, 56);
  color: rgb(138, 117, 82);
}

.form_contents textarea.standard {
  float: none;
  overflow: auto;
  width: 300px;
  height: 100px;
  background-color: rgb(87, 136, 143);
  border: none;
}

.form_contents placeholder {
  color: rgb(138, 117, 82);
}

.form_label {
  margin-bottom: 0;
}

/* confirm */
.return_btn {
  display: inline-block;
  background-color: rgb(138, 117, 82);
  color: #fff;
  margin: 20px auto;
  padding: 2px 8px;
  cursor: pointer;
}

.return_link {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

/* footer */
.footer_content {
  background-color: white;
  width: 100%;
  opacity: 0.5;
  box-sizing: border-box;
}

.footer_text {
  text-align: left;
  margin-left: 20px;
  font-size: 10px;
  color: rgb(138, 117, 82);
}

.footertext {
  font-size: 13px;
  color: rgb(138, 117, 82);
  text-decoration: none;
}

/* privacy */
.content.privacy {
  padding: 30px;
}

.policytitle_content {
  margin-top: 80px;
}

.policy_content {
  margin-top: 50px;
}

.policy_title {
  font-family: 'Montserrat', sans-serif;
  color: rgb(138, 117, 82);
}

.policy_text {
  font-family: 'Montserrat', sans-serif;
  color: rgb(138, 117, 82);
  font-size: 13px;
}

.google_link {
  color: rgb(138, 117, 82);
}



@media screen and (min-width: 796px) { /* pc用スタイル */
  /* headerエリア */
  .header_content {
    opacity: 0.8;
  }

  .menu-content_box {
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  
  .menu-content_text {
    list-style: none;
  }
  
  .menubtn {
    margin: 10px 20px;
    text-decoration: none;
    color: rgb(138, 117, 82);
    font-size: 10px;
    transition: all 0.7s;
  }
  
  .menubtn:hover {
    padding: 1px 10px;
    color: rgb(188, 123, 144);
    border-bottom: 0.5px solid rgb(188, 123, 144);
  }

  .hamburger-menu {
    max-width: 530px;
  }

  .logoarea {
    padding-left: 40px;
  }

  /* top */
  .title_corner {
    top:20%;
    left: 15%;
  }

  .title.top {
    font-size: 40px;
  }

  .sub_title {
    font-size: 16px;
  }

  /* page top */
  .page_top {
    right: 50px;
  }

  /* contents */
  .sub_contenttitle {
    font-size: 16px;
  }

  /* gallery */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .galleryimg {
    width: 20%;
  }

  .gallery_img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  /* about */
  .aboutimg {
    margin: 0 auto;
  }

  .about_img {
    width: 100%;
    z-index: 80;
  }

  /* form */
  .form_contents input[type="text"] {
    padding: 5px 100px;
  }

  .form_contents input[type="email"] {
    padding: 5px 45px;
  }

  .form_contents select {
    padding: 5px 48px;
  }

  textarea {
    width: 500px;
    height: 100px;
  }

  .footer_content {
    padding: 10px 40px;
  }
}




@media screen and (max-width: 795px) { /* sp用スタイル */
  /* headerエリア */
  .header_content {
    opacity: 0.9;
  }

  /* ハンバーガーメニュー3本線の背景 */
  .menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    right: 30px;
    height: 30px;
    width: 30px;
    z-index: 90;
  }

  /* ハンバーガーメニュー3本線 spanタグと擬似要素で作成 */
  .menu-btn span {
    content: "";
    display: block;
    height: 1px;
    width: 18px;
    /* 3本線を右揃え */
    right: 0;
    border-radius: 2px;
    background-color: rgb(138, 117, 82);
    position: absolute;
  }

  .menu-btn span:before {
    content: "";
    display: block;
    height: 1px;
    width: 25px;
    right: 0;
    border-radius: 2px;
    background-color: rgb(138, 117, 82);
    position: absolute;
  }

  .menu-btn span:after {
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    right: 0;
    border-radius: 2px;
    background-color: rgb(138, 117, 82);
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 7px;
  }

  .menu-btn span:after {
    top: 7px;
  }

  /* 3本線をクリック後バッテンに */
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #menu-btn-check:checked ~ .menu-btn span:before {
    bottom: 0;
    width: 20px;
    transform: rotate(45deg);
    background-color: white;
  }

  #menu-btn-check:checked ~ .menu-btn span:after {
    top: 0;
    width: 20px;
    transform: rotate(-45deg);
    background-color: white;
  }

  .menu-content {
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    /* メニューが閉じている時は表示枠外にメニューバーを隠す */
    left: 100%;
    z-index: 80;
    background-color: rgb(87, 136, 143);
    transition: all 0.9s;
  }

  .menu-content_box,.menu-content_text {
    border-bottom: none;
    list-style: none;
    margin: 30px 0;
    text-align: center;
    opacity: 0.9;
  }

  .menu-btn {
    display: block;
    padding: 5px 10px;
    position: relative;
  }

  .menu-content_box,.menu-content_text,.menubtn {
    display: block;
    font-size: 13px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    position: relative;
  }

  /* クリックされたらメニューを表示する */
  #menu-btn-check:checked ~ .menu-content {
    left: 0;
    width: 100%;
    height: 1000px;
  }

  .header_content {
    display: flex;
    padding: 5px 0;
    width: 100%;
  }

  .logoarea {
    padding-left: 30px;
  }

  /* page top */
  .page_top {
    right: 25px;
  }

  /* top */
  .title_corner {
    margin: 0;
    top: 15%;
  }

  .title.top {
    font-size: 30px;
  }

  .topcontents::before {
    left: 0;
    width: 100%;
  }

  .sub_title {
    font-size: 14px;
  }

  /* contents */
  .sub_contenttitle {
    font-size: 13px;
  }

  /* gallery */
  .gallery {
    display: block;
  }

  .gallery_img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .galleryimg {
    width: 100%;
    margin: 0 auto;
  }

  /* about */
  .aboutimg {
    margin: 0 auto;
  }

  .about_img {
    width: 300px;
    z-index: 80;
  }

  /* form */
  .form_contents input[type="text"] {
    padding: 5px 60px;
  }

  .form_contents input[type="email"] {
    padding: 5px;
  }

  textarea {
    width: 300px;
    height: 80px;
  }

  .footer_content {
    padding: 10px 20px;
  }
}
